#editor {
    position: relative;
    font-size: 14px;
    border: 1px solid grey;
    margin-bottom: 5px;
}

#console {
    margin-top: 30px;
    border: 1px solid grey;
    overflow: scroll;
}

#python {
    display: none;
}

.wrapper button,
.wrapper input {
    margin-right: 5px;
    float: left;
    font-family: Monospace;
}

input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #757575;
    margin-bottom: 5px;
    margin-top: -8px;
}

input:focus {
    outline: none;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.btn:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
    background-color: #6fc6ff;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
    background-color: #48e68b;
}

.pink {
    background-color: #e2aeb4;
    box-shadow: 0px 5px 0px 0px #be5e6b;
}




